# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- TensorBoard Logs / Trainingsausgaben ---
logs/
LidarGaussianVideoView/logs/
*.log
*.out
events.out.tfevents.*

# --- Temporäre Trainings- oder Checkpoint-Dateien ---
checkpoints/
weights/
*.pt
*.pth

# --- Editor & System ---
.vscode/
.idea/
.DS_Store

# --- Sonstige temporäre Dateien ---
*.tmp
*.swp

# --- Docker-Builds ---
docker/.env
docker/user.env

data/